.App {
  text-align: center;
}

#allTodo {
  border: 2px solid black;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  background-color: azure;
}

.btn {
  margin: 20px;
  padding: 5px;
  width: 50px;
  border: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.btn:nth-of-type(1) {
  background-color: rgb(71, 193, 230);
}

.btn:nth-of-type(2) {
  background-color: rgb(86, 207, 122);
}

.todo {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  background-color: aquamarine;
}

h1 {
  color: rgb(153, 0, 255);
}
