.App {
  display: grid;
  grid-template-columns: repeat(50%, 50%);
  width: 95%;
  margin: auto;
}

table {
  border: 2px solid forestgreen;
  margin-bottom: 30px;
}

th {
  border: 2px solid red;
}

td {
  text-align: center;
  border: 1px solid blue;
}

input[type="text"],
input[type="number"],
select {
  display: block;
  margin-bottom: 10px;
  width: 50%;
  height: 30px;
}
